<section class="section-listCards">

  <div aos-init aos-animate data-aos="fade-up">
    <h1 class="filmsTitle">Films</h1>
  </div>

  <div class="cardslist">
    <div class="cardInformation">
      <div class="card">
        
      </div>

      <div class="noCard">

      </div>
    </div>

    <div class="cardInformation">
      <div class="noCard">
        
      </div>

      <div class="card">

      </div>
    </div>

    <div class="cardInformation">
      <div class="card">
        
      </div>

      <div class="noCard">

      </div>
    </div>

    <div class="cardInformation">
      <div class="noCard">
        
      </div>

      <div class="card">

      </div>
    </div>

    <div class="cardInformation">
      <div class="card">
        
      </div>

      <div class="noCard">

      </div>
    </div>

    <div class="divider"></div>
  </div>
</section>