@font-face {
  font-family: 'itc-serif-gothic';
  src: url('assets/fonts/itc-serif-gothic/itc-serif-gothic-black-588d43e1e915d.otf') format('OpenType');
  font-weight: black;
  font-style: normal;
}


@font-face {
  font-family: 'itc-serif-gothic';
  src: url('assets/fonts/itc-serif-gothic/itc-serif-gothic-black-588d43e1e915d.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'itc-serif-gothic';
  src: url('assets/fonts/itc-serif-gothic/itc-serif-gothic-black-588d43e1e915d.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}


